---
import { Image } from "astro:assets";
import github from "../assets/Github_light.svg";
import TecProject from "./TecProject.astro";

const { nombre, enlace, imagen, descripcion, logos } = Astro.props;
---

<div
  class="flex flex-col items-center sm:w-4/5 sm:mx-auto sm:gap-8 xl:flex-row 2xl:mb-20"
>
  <div class="w-3/4 lg:w-3/4 2xl:w-2/4">
    <a class="" target="_blank" href={enlace}>
      <picture
        class="flex justify-end rounded-lg overflow-hidden mb-3 sm:mb-0"
      >
        <Image
          class="aspect-video w-full h-full rounded-3xl xl:w-[80%]"
          src={imagen}
          alt={"Logo " + nombre}
          loading={"lazy"}
        />
      </picture>
    </a>
  </div>
  <div
    class="w-3/4 flex flex-col items-center justify-center leading-8 text-justify gap-2 xl:w-[60%] xl:items-start"
  >
    <span
      class="text-xl font-semibold text-white flex self-center items-center justify-center sm:text-3xl md:text-3xl xl:text-4xl xl:mr-[0] xl:mb-4 xl:self-start 2xl:mr-0"
      >{nombre}</span
    >
    <p
      class="text-sm font-normal text-left leading-7 text-white text-pretty sm:text-base md:text-xl xl:text-lg xl:leading-5"
    >
      {descripcion}
    </p>
    <div
      class="flex flex-row items-center justify-start gap-4 mt-2 mb-4 md:mt-5 md:mb-5"
    >
      {logos.map((logo) => <TecProject logo={logo} />)}
    </div>
    <div class="flex flex-row items-center justify-start gap-4 mb-8">
      <a
        class="flex items-center justify-center px-2 py-2 rounded-lg bg-slate-50 text-black font-semibold gap-2 border-none text-xl no-underline"
        target="_blank"
        href={enlace}
      >
        <Image class="w-8" src={github} alt={"Logo Github"} />
        Código
      </a>
    </div>
  </div>
</div>
