---
import { Image } from "astro:assets";
import CardExp from "./CardExp.astro";

import Maleta from "../assets/maleta.svg";

const exp = [
  {
    titulo: "Experienced Analyst Grado III",
    empresa: "Minsait - Indra",
    tiempo: "Octubre 2025 - Actualidad",
    descripcion:
      "Como Experienced Analyst Grado III en Minsait, formo parte de un equipo multidisciplinar dedicado al desarrollo y mantenimiento en el ámbito bancario. Mi rol implica colaborar en proyectos que requieren un alto nivel de análisis y solución de problemas, utilizando tecnologías avanzadas para garantizar la eficiencia y seguridad de las aplicaciones bancarias. Trabajo con tecnologías modernas como APX, de la cual estoy certificado para toda España.",
  },
  {
    titulo: "Programador Full Stack",
    empresa: "Profesional independiente",
    tiempo: "Agosto 2025 - Octubre 2025",
    descripcion:
      "Como desarrollador Full Stack freelance, continúo trabajando en una variedad de proyectos web para clientes individuales y pequeñas empresas. Mi enfoque se centra en el desarrollo de soluciones completas que integran tanto el frontend como el backend, utilizando tecnologías como Angular, React, Java (Spring Boot) y Laravel. Además, sigo creando landing pages ligeras y rápidas con Astro, priorizando la eficiencia de carga y la experiencia del usuario. Mi compromiso es ofrecer productos robustos, escalables y adaptados a las necesidades específicas de cada cliente.",
  },
  {
    titulo: "Programador Full Stack",
    empresa: "Tredalis",
    tiempo: "Febrero 2025 - Agosto 2025",
    descripcion:
      "Como desarrollador Full stack en Tredalis, he participado activamente en el diseño y construcción de aplicaciones web utilizando Angular en el frontend y Java EE (Spring Boot) en el backend. He trabajado en proyectos como Sustax, MiBB, TredTime y en la adaptación de DSpace para la UNE. Además, contribuí en la creación de la landing corporativa de Tredalis con Astro, enfocada en rendimiento y SEO. En cada proyecto aplico buenas prácticas de desarrollo, trabajo en equipo y soluciones centradas en el usuario.",
  },
  {
    titulo: "Programador Full Stack",
    empresa: "Profesional independiente",
    tiempo: "Junio 2024 - Enero 2025",
    descripcion:
      "Como desarrollador Full Stack freelance, he trabajado en una amplia variedad de proyectos web para clientes individuales, incluyendo emprendedores y pequeñas empresas. He desarrollado soluciones completas que integran tanto el frontend como el backend, utilizando tecnologías como Angular, React, Java (Spring Boot) y Laravel, adaptándome a las necesidades específicas de cada caso. También he creado landing pages ligeras y rápidas con Astro, enfocadas en una carga eficiente y buena experiencia de usuario. Mi enfoque combina la versatilidad técnica con una atención personalizada, ofreciendo productos robustos, escalables y orientados a resultados.",
  },
  {
    titulo: "Desarrollador Web",
    empresa: "Grupo Oro",
    tiempo: "Marzo 2024 - Junio 2024",
    descripcion:
      "Como desarrollador web en Grupo Oro, me encargué de la creación distintas webs, utilizando el CMS de WordPress y diversos plugins como Elementor. Además de reunirme con distintos clientes para tomar los requisitos de las webs a desarrollar. Internamente tambien desarrolle con React y Laravel un proyecto interno para la empresa.",
  },
  {
    titulo: "Monitor de Informática",
    empresa: "Asociación Tecforce",
    tiempo: "Junio 2019 - Septiembre 2019",
    descripcion:
      "En la Asociación Tecforce, me desempeñé como monitor de informática, enseñando a niños entre 6 y 12 años a utilizar programas básicos de ofimática, navegación por internet y programación básica en Scratch.",
  },
];
---

<section class="mx-auto">
  <span
    class="flex self-start font-semibold text-white underline items-center justify-center gap-2 text-xl mb-10 mt-44 md:text-4xl md:mt-96
     xl:text-5xl xl:mt-96"
  >
    <Image
      class="w-7 xl:w-16"
      src={Maleta}
      alt={"Logo Maleta"}
      loading={"lazy"}
    />
    Experiencia
  </span>
  <ol class="relative border-s border-blue-400/40 ml-10 mt-10 2xl:ml-96">
    {
      exp.map((experiencia) => (
        <CardExp
          titulo={experiencia.titulo}
          empresa={experiencia.empresa}
          tiempo={experiencia.tiempo}
          descripcion={experiencia.descripcion}
        />
      ))
    }
  </ol>
</section>
